.faq {
    padding: 150px 0;

    // .faq__list

    &__list {
        display: flex;
        flex-direction: column;
    }

    // .faq__item

    &__item {
        max-width: 730px;
        *:not(:last-child) {
            margin-top: 30px;
        }
    }

    // .faq__title

    &__title {
        cursor: pointer;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        color: $accent-color;
        position: relative;
        padding-left: 30px;
        transition: all 0.5s;
        &::before {
            content: "";
            position: absolute;
            top: 11px;
            left: 0;
            width: 15px;
            height: 15px;
            background: url("../../icons/arrow.svg") center / cover no-repeat;
        }
        &.active + p {
            visibility: visible;
            opacity: 1;
            height: 100%;
        }
        &.active::before {
            transform: rotate(90deg);
        }
    }

    // .faq__descr

    &__descr {
        visibility: hidden;
        opacity: 0;
        height: 0;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 10px 10px 0px;
        transition: visibility 0.3s ease 0s, opacity 0.2s ease 0s,
            height 0.2s ease 0s;

        &.active {
            visibility: visible;
            opacity: 1;
            height: 100%;
        }
    }
}
