.faq {
    padding: 150px 0;

    // .faq__list

    &__list {
        display: flex;
        flex-direction: column;
    }

    // .faq__item

    &__item {
        max-width: 730px;
        *:not(:last-child) {
            margin: 30px 0;
        }
    }

    // .faq__title

    &__title {
        cursor: pointer;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        color: $accent-color;
        position: relative;
        padding-left: 30px;
        &::before {
            content: "";
            position: absolute;
            top: 11px;
            left: 0;
            width: 15px;
            height: 15px;
            background: url("../../icons/arrow.svg") center / cover no-repeat;
        }
    }

    // .faq__descr

    &__descr {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        // display: none;
    }
}
