.parners {
    padding: 100px 0;
    background-color: $title-color;
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 -15px;
    }

    // .parners__item

    &__item {
        padding: 0 15px;
        flex: 1 1 20%;
        text-align: center;
    }

    // .parners__image

    &__image {
        max-width: 170px;
    }
}
