@font-face {
    font-family: "OpenSans";
    src: url("../../fonts/OpenSans-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Oswald";
    src: url("../../fonts/OswaldBold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Oswald";
    src: url("../../fonts/OswaldMedium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Oswald";
    src: url("../../fonts/OpenSans-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
